body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff8f0;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    min-height: 60vh;
}

.sobre-container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sobre-container h2 {
    font-size: 2em;
    color: #4a2e00;
    margin-bottom: 15px;
}

.sobre-container p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 15px;
}

.sobre-container a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color:#5A4D3F;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.sobre-container a:hover {
    background-color: #9d7f5f;
}